* {
	margin: 0;
	padding: 0;
}
body {
	background: #715aff;
}
.CodeMirror {
	width: 49%;
	margin: 25px .4%;
	display: inline-block;
	border-radius: 5px;
}
#tools {
	background: #a682ff;
	width: 100%;
	height: 50px;
}